body {
  text-align: center;
  background-color: skyblue;
}

.word-container {
  height: 100px;
  margin-top: 150px;
  margin-bottom: 50px;
}

span {
  display: inline-block;
  margin: 0px 10px;
  height: 60px;
  min-width:60px;
  font-size: 60px;
  border-bottom: 3px solid black;
  color: black;
}
